.arrow {
    font-size: 5rem;
    position: fixed;
    color: #686868;
    cursor: pointer;
}

.up {
    top: 45%;
    right: 1%;
    transform: translateY(-50%);
}

.down {
    top: 55%;
    right: 1%;
    transform: translateY(-50%);
}

.hide {
    visibility: hidden;
}