@media (min-width: 320px) and (orientation: portrait) {
    nav {
        padding: .5rem;
        flex-basis: 5%;
    }

    li::before {
        height: .2rem;
    }

    li a {
        padding: .4rem;
        font-size: 1rem;
    }

    .header_article {
        flex-direction: column;
        flex-basis: 30%;
    }

    .header_img {
        width: 16rem;
        height: 16rem;
        transform: translateY(1rem);
    }

    .team_name {
        transform: translateY(7rem);
        padding: 2rem;
        font-size: 2rem;
    }

    section {
        flex-direction: column;
        flex-basis: 40%;
        justify-content: flex-start;
        align-items: center;
    }

    .main_h1 {
        font-size: 2rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main_h1_sec {
        font-size: 2rem;
        width: 100%;
        transform: translateY(3rem);
    }

    .section1_img {
        width: 25rem;
        height: 10rem;
    }

    .descr_1 {
        margin-top: .5rem;
        width: 75%;
        font-size: 1.4rem;
    }

    .section2_img {
        margin-top: 4rem;
        width: 25rem;
        height: 10rem;
    }

    .descr_2 {
        margin-top: 2rem;
        width: 75%;
        font-size: 1.4rem;
    }

    footer {
        font-size: 1rem;
        padding: .5rem;
    }

    .arrow {
        font-size: 3rem;
    }
}

/* ========================================================================================= */

@media (min-width: 360px) and (orientation: portrait) {
    nav {
        padding: .8rem;
        flex-basis: 8%;
    }

    li::before {
        height: .3rem;
    }

    li a {
        padding: .4rem;
        font-size: 1.2rem;
    }

    .header_article {
        flex-direction: column;
        flex-basis: 30%;
    }

    .header_img {
        width: 18rem;
        height: 18rem;
        transform: translateY(1rem);
    }

    .team_name {
        transform: translateY(7rem);
        padding: 2rem;
        font-size: 2.5rem;
    }

    section {
        flex-direction: column;
        flex-basis: 40%;
        justify-content: flex-start;
        align-items: center;
    }

    .main_h1 {
        font-size: 2.5rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main_h1_sec {
        font-size: 2.5rem;
        width: 100%;
        margin-bottom: 0rem;
    }

    .section1_img {
        width: 30rem;
        height: 13rem;
    }

    .descr_1 {
        margin-top: .5rem;
        width: 75%;
        font-size: 1.6rem;
    }

    .section2_img {
        margin-top: 4rem;
        width: 30rem;
        height: 15rem;
    }

    .descr_2 {
        margin-top: 2rem;
        width: 75%;
        font-size: 1.6rem;
    }

    footer {
        font-size: 1.3rem;
        padding: .8rem;
    }

    .arrow {
        font-size: 4rem;
    }
}

/* ============================================================================================== */

@media (min-width: 410px) and (orientation: portrait) {
    nav {
        padding: 1rem;
        flex-basis: 7%;
    }

    li a {
        padding: .6rem;
        font-size: 1.3rem;
    }

    .header_article {
        flex-direction: column;
        flex-basis: 30%;
    }

    .header_img {
        width: 20rem;
        height: 20rem;
        transform: translateY(1rem);
    }

    .team_name {
        transform: translateY(7rem);
        padding: 2rem;
        font-size: 3rem;
    }

    .main_h1 {
        font-size: 3.2rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main_h1_sec {
        font-size: 3.2rem;
        width: 100%;
        transform: translateY(3rem);
    }

    .section1_img {
        width: 35rem;
        height: 15rem;
    }

    .descr_1 {
        margin-top: .5rem;
        width: 75%;
        font-size: 1.8rem;
    }

    .section2_img {
        margin-top: 4rem;
        width: 35rem;
        height: 18rem;
    }

    .descr_2 {
        margin-top: 2rem;
        width: 75%;
        font-size: 1.8rem;
    }

    footer {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .arrow {
        font-size: 4.2rem;
    }
}

/* ========================================================================================================= */

@media (min-width: 768px) and (orientation: portrait) {
    nav {
        padding: 1.2rem;
        flex-basis: 7%;
    }

    li a {
        padding: .8rem;
        font-size: 2.1rem;
    }

    .header_img {
        width: 50rem;
        height: 50rem;
        transform: translateY(1rem);
    }

    .team_name {
        transform: translateY(7rem);
        padding: 2rem;
        font-size: 4.5rem;
    }

    .main_h1 {
        font-size: 4rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main_h1_sec {
        font-size: 4rem;
        width: 100%;
        transform: translateY(3rem);
    }

    .section1_img {
        width: 60rem;
        height: 25rem;
    }

    .descr_1 {
        margin-top: .5rem;
        width: 75%;
        font-size: 3rem;
    }

    .section2_img {
        margin-top: 4rem;
        width: 60rem;
        height: 30rem;
    }

    .descr_2 {
        margin-top: 2rem;
        width: 75%;
        font-size: 3rem;
    }

    footer {
        font-size: 2.2rem;
        padding: 1.2rem;
    }

    .arrow {
        font-size: 5.5rem;
    }
}

/* ================================================================================================== */

@media (min-width: 1024px) and (orientation: portrait) {
    nav {
        padding: 1.5rem;
        flex-basis: 7%;
    }

    li a {
        padding: 1rem;
        font-size: 2.6rem;
    }

    .header_img {
        width: 60rem;
        height: 60rem;
        transform: translateY(1rem);
    }

    .team_name {
        transform: translateY(7rem);
        padding: 2rem;
        font-size: 5rem;
    }

    .main_h1 {
        font-size: 5.5rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main_h1_sec {
        font-size: 5.5rem;
        width: 100%;
        transform: translateY(3rem);
    }

    .section1_img {
        width: 70rem;
        height: 30rem;
    }

    .descr_1 {
        margin-top: .5rem;
        width: 75%;
        font-size: 4rem;
    }

    .section2_img {
        margin-top: 4rem;
        width: 80rem;
        height: 40rem;
    }

    .descr_2 {
        margin-top: 2rem;
        width: 75%;
        font-size: 4rem;
    }

    footer {
        font-size: 2.8rem;
        padding: 1.5rem;
    }

    .arrow {
        font-size: 8rem;
    }
}